body {
  background-color: #EFECCA;
}

.optionDisplay {
  /*border: 1px black solid;*/
}

.header {
  text-align: center;
  background-color: #A7A37E;
  color: #002F2F;
}

.getResults {
  align: center;
}

.productImage {
  height: 100%;
  width: 100%;
}

.reminderPara {
  text-align: center;
}

.optionContainer {
  border: 1px black solid;
  background-color: #046380;
  color: white;
}

.container {
  /*background-color: #002F2F;*/
}

.optionContainer:hover {
  box-shadow: 10px 10px 10px 10px grey;
}

.chartTitle {
  text-align: center;
}

.productName {
  text-align: center;
}

.hidden {
  display: none;
}

.not-shown {
  visibility: hidden;
}

.clickableGetResults {
  background-color: #046380;
  color: #EFECCA;
}

canvas {
  border: 1px black solid;
}
